@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    overflow:hidden;
}
.toast{
    position:absolute;
    top:25px;
    right:30px;
    border-radius:5px;
    background: #fff;
    padding:20px 35px 20px 25px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    border-right:6px solid #6af440;
    overflow:hidden;
    transform:translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.35);
}
.toast.active{
    transform:translateX(0%);
}
.toast .toast-content{
    display:flex;
    align-items: center;
}
.toast-content .check{
    display:flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width:40px;
    background-color: #6af440;
    color:#fff;
    font-size:20px;
    border-radius:10%;
}
.toast-content .message{
    display:flex;
    flex-direction: column;
    margin:0 20px;
}
.message .text{
    font-size:20px;
    font-weight:400;
    color:#666;
}
.message .text.text-1{
    font-weight:600;
    color:#333;
}
.toast .progress{
    position:absolute;
    bottom:0;
    right:0;
    height:4px;
    width:100%;
    background: #ddd;
}
.toast .progress:before{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:100%;
    width:100%;
    background: #6af440;
}
.progress.active:before{
    animation:progress 5s linear forwards;
}
@keyframes progress{
    100%{
        left:100%;
    }
}
button{
    padding:12px 20px;
    font-size:20px;
    outline:none;
    border:none;
    background-color: #6af440;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}
button:hover{
background-color: #62e23b;
}
.toast.active~button{
    pointer-events: none;
}
